interactions:
- request:
    body: '{"name": "Test Warehouse 123", "origin_address": {"name": "Electronic Output
      Solutions", "phone": "555-555-5555", "address_line1": "2510 Commerce Way", "city_locality":
      "Vista", "state_province": "CA", "postal_code": "92081", "address_line2": null,
      "address_line3": null, "email": null, "company_name": null, "instructions":
      null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "return_address": null, "is_default": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/warehouses
  response:
    body:
      string: "{\r\n  \"warehouse_id\": \"se-18990435\",\r\n  \"is_default\": false,\r\n
        \ \"name\": \"Test Warehouse 123\",\r\n  \"created_at\": \"2024-05-20T14:02:14.407Z\",\r\n
        \ \"origin_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  },\r\n
        \ \"return_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  }\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '159'
      RateLimit-Reset:
      - '46'
      x-shipengine-requestid:
      - fc8b23d2-77fa-47e6-bee1-058ca03f56dd
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"carrier_id": "se-2424643", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
      null, "validate_address": "no_validation", "advanced_options": null, "confirmation":
      "none", "tags": [], "is_return": false, "customs": null, "warehouse_id": "se-18990435",
      "ship_from": null, "return_to": null, "items": [], "external_order_id": null,
      "tax_identifiers": null, "external_shipment_id": null, "shipment_number": null,
      "insurance_provider": "none", "order_source_code": null, "packages": [{"weight":
      {"value": 1, "unit": "ounce"}, "package_code": null, "dimensions": null, "content_description":
      null, "package_id": null, "insured_value": null, "label_messages": null, "products":
      null, "external_package_id": null, "shipment_package_id": null, "package_name":
      null}], "comparison_rate_type": null}, {"carrier_id": "se-2424643", "service_code":
      "usps_ground_advantage", "ship_to": {"name": "Electronic Output Solutions",
      "phone": "555-555-5555", "address_line1": "2510 Commerce Way", "city_locality":
      "Vista", "state_province": "CA", "postal_code": "92081", "address_line2": null,
      "address_line3": null, "email": null, "company_name": null, "instructions":
      null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "ship_date": null, "validate_address": "no_validation", "advanced_options":
      null, "confirmation": "none", "tags": [], "is_return": false, "customs": null,
      "warehouse_id": "se-18990435", "ship_from": null, "return_to": null, "items":
      [], "external_order_id": null, "tax_identifiers": null, "external_shipment_id":
      null, "shipment_number": null, "insurance_provider": "none", "order_source_code":
      null, "packages": [{"weight": {"value": 1, "unit": "ounce"}, "package_code":
      null, "dimensions": null, "content_description": null, "package_id": null, "insured_value":
      null, "label_messages": null, "products": null, "external_package_id": null,
      "shipment_package_id": null, "package_name": null}], "comparison_rate_type":
      null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/shipments
  response:
    body:
      string: "{\r\n  \"has_errors\": false,\r\n  \"shipments\": [\r\n    {\r\n      \"errors\":
        [],\r\n      \"address_validation\": null,\r\n      \"shipment_id\": \"se-1380772638\",\r\n
        \     \"carrier_id\": \"se-2424643\",\r\n      \"service_code\": \"usps_ground_advantage\",\r\n
        \     \"external_shipment_id\": null,\r\n      \"shipment_number\": null,\r\n
        \     \"ship_date\": \"2024-05-20T00:00:00Z\",\r\n      \"created_at\": \"2024-05-20T14:02:15.1401895Z\",\r\n
        \     \"modified_at\": \"2024-05-20T14:02:15.1401895Z\",\r\n      \"shipment_status\":
        \"pending\",\r\n      \"ship_to\": {\r\n        \"geolocation\": null,\r\n
        \       \"instructions\": \"\",\r\n        \"name\": \"Electronic Output Solutions\",\r\n
        \       \"phone\": \"555-555-5555\",\r\n        \"email\": null,\r\n        \"company_name\":
        null,\r\n        \"address_line1\": \"2510 Commerce Way\",\r\n        \"address_line2\":
        null,\r\n        \"address_line3\": null,\r\n        \"city_locality\": \"Vista\",\r\n
        \       \"state_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.shipengine.com/v1/warehouses/se-18990435
  response:
    body:
      string: ''
    headers:
      Branch-Name:
      - bWFpbg
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '157'
      RateLimit-Reset:
      - '45'
      x-shipengine-requestid:
      - 3b2f9b61-8da4-437b-94a6-6fca3f684e1e
    status:
      code: 204
      message: No Content
version: 1
