interactions:
- request:
    body: '{"name": "Test Warehouse 123", "origin_address": {"name": "Electronic Output
      Solutions", "phone": "555-555-5555", "address_line1": "2510 Commerce Way", "city_locality":
      "Vista", "state_province": "CA", "postal_code": "92081", "address_line2": null,
      "address_line3": null, "email": null, "company_name": null, "instructions":
      null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "return_address": null, "is_default": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/warehouses
  response:
    body:
      string: "{\r\n  \"warehouse_id\": \"se-19034086\",\r\n  \"is_default\": false,\r\n
        \ \"name\": \"Test Warehouse 123\",\r\n  \"created_at\": \"2024-05-22T19:06:33.883Z\",\r\n
        \ \"origin_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  },\r\n
        \ \"return_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  }\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '199'
      RateLimit-Reset:
      - '27'
      x-shipengine-requestid:
      - 6d455afe-6cb7-44f2-8a8a-7b2d455c9236
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"carrier_id": "se-2424643", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
      null, "validate_address": "no_validation", "advanced_options": null, "confirmation":
      "none", "tags": [], "is_return": false, "customs": null, "warehouse_id": "se-19034086",
      "ship_from": null, "return_to": null, "items": [], "external_order_id": null,
      "tax_identifiers": null, "external_shipment_id": null, "shipment_number": null,
      "insurance_provider": "none", "order_source_code": null, "packages": [{"weight":
      {"value": 1, "unit": "ounce"}, "package_code": null, "dimensions": null, "content_description":
      null, "package_id": null, "insured_value": null, "label_messages": null, "products":
      null, "external_package_id": null, "shipment_package_id": null, "package_name":
      null, "tracking_number": null, "qr_code_download": null, "paperless_download":
      null, "sequence": null, "alternative_identifiers": null, "has_label_documents":
      null, "has_form_documents": null, "has_qr_code_documents": null, "has_paperless_label_documents":
      null}], "comparison_rate_type": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/shipments
  response:
    body:
      string: "{\r\n  \"has_errors\": false,\r\n  \"shipments\": [\r\n    {\r\n      \"errors\":
        [],\r\n      \"address_validation\": null,\r\n      \"shipment_id\": \"se-1384678359\",\r\n
        \     \"carrier_id\": \"se-2424643\",\r\n      \"service_code\": \"usps_ground_advantage\",\r\n
        \     \"external_shipment_id\": null,\r\n      \"shipment_number\": null,\r\n
        \     \"ship_date\": \"2024-05-22T00:00:00Z\",\r\n      \"created_at\": \"2024-05-22T19:06:34.2501624Z\",\r\n
        \     \"modified_at\": \"2024-05-22T19:06:34.2345624Z\",\r\n      \"shipment_status\":
        \"pending\",\r\n      \"ship_to\": {\r\n        \"geolocation\": null,\r\n
        \       \"instructions\": \"\",\r\n        \"name\": \"Electronic Output Solutions\",\r\n
        \       \"phone\": \"555-555-5555\",\r\n        \"email\": null,\r\n        \"company_name\":
        null,\r\n        \"address_line1\": \"2510 Commerce Way\",\r\n        \"address_line2\":
        null,\r\n        \"address_line3\": null,\r\n        \"city_locality\": \"Vista\",\r\n
        \       \"state_[...]
- request:
    body: '{"carrier_id": "se-2424643", "service_code": "usps_ground_advantage", "ship_to":
      {"name": "New Name", "phone": "555-555-5555", "address_line1": "2510 Commerce
      Way", "city_locality": "Vista", "state_province": "CA", "postal_code": "92081",
      "address_line2": null, "address_line3": null, "email": null, "company_name":
      null, "instructions": "", "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "ship_date": "2024-05-22T00:00:00Z", "validate_address": "no_validation",
      "advanced_options": {"contains_alcohol": false, "delivered_duty_paid": false,
      "dry_ice": false, "dry_ice_weight": null, "non_machinable": false, "saturday_delivery":
      false, "bill_to_account": null, "bill_to_country_code": null, "bill_to_party":
      null, "bill_to_postal_code": null, "fedex_freight": null, "use_ups_ground_freight_pricing":
      null, "freight_class": null, "custom_field1": null, "custom_field2": null, "custom_field3":
      null, "origin_type": null, "additional_handling": false, "shipper_release":
      null, "collect_on_delivery": null, "third_party_consignee": false, "dangerous_goods":
      false, "dangerous_goods_contact": null, "ancillary_endorsements_option": null,
      "return_pickup_attempts": null, "own_document_upload": false, "limited_quantity":
      false, "event_notification": false}, "confirmation": "none", "tags": [], "is_return":
      false, "customs": null, "warehouse_id": "se-19034086", "ship_from": {"name":
      "Electronic Output Solutions", "phone": "555-555-5555", "address_line1": "2510
      Commerce Way", "city_locality": "Vista", "state_province": "CA", "postal_code":
      "92081", "address_line2": null, "address_line3": null, "email": null, "company_name":
      null, "instructions": null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "return_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "items":
      [], "external_order_id": null, "tax_identifiers": null, "external_shipment_id":
      null, "shipment_number": null, "insurance_provider": "none", "order_source_code":
      null, "packages": [{"weight": {"value": 1.0, "unit": "ounce"}, "package_code":
      "package", "dimensions": {"length": 0.0, "width": 0.0, "height": 0.0, "unit":
      "inch"}, "content_description": null, "package_id": "se-3", "insured_value":
      {"currency": "usd", "amount": 0.0}, "label_messages": {"reference1": null, "reference2":
      null, "reference3": null}, "products": null, "external_package_id": null, "shipment_package_id":
      "se-1566416022", "package_name": "Package", "tracking_number": null, "qr_code_download":
      null, "paperless_download": null, "sequence": null, "alternative_identifiers":
      null, "has_label_documents": null, "has_form_documents": null, "has_qr_code_documents":
      null, "has_paperless_label_documents": null}], "comparison_rate_type": null,
      "shipment_id": "se-1384678359", "created_at": "2024-05-22T19:06:34.2501624Z",
      "modified_at": "2024-05-22T19:06:34.2345624Z", "shipping_rule_id": null, "errors":
      [], "shipment_status": "pending", "total_weight": {"value": 1.0, "unit": "ounce"},
      "address_validation": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.shipengine.com/v1/shipments/se-1384678359
  response:
    body:
      string: "{\r\n  \"errors\": [],\r\n  \"address_validation\": null,\r\n  \"shipment_id\":
        \"se-1384678359\",\r\n  \"carrier_id\": \"se-2424643\",\r\n  \"service_code\":
        \"usps_ground_advantage\",\r\n  \"external_shipment_id\": null,\r\n  \"shipment_nu[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.shipengine.com/v1/warehouses/se-19034086
  response:
    body:
      string: ''
    headers:
      Branch-Name:
      - bWFpbg
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '195'
      RateLimit-Reset:
      - '25'
      x-shipengine-requestid:
      - 667a2606-f366-4ef7-937a-47a21f8aecab
    status:
      code: 204
      message: No Content
version: 1
