interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/shipments/bad-shipment-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"b5045931-8f79-4bfc-bae3-d5f60e3d705e\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-shipment-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '195'
      RateLimit-Reset:
      - '45'
      x-shipengine-requestid:
      - b5045931-8f79-4bfc-bae3-d5f60e3d705e
    status:
      code: 400
      message: Bad Request
version: 1
