interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/shipments/external_shipment_id/some-non-existing-external-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"ac7503be-91fd-461a-a99c-b547dd16fcd6\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"invalid_identifier\",\r\n      \"message\":
        \"Invalid external_shipment_id.\",\r\n      \"field_name\": \"external_shipment_id\",\r\n
        \     \"field_value\": \"some-non-existing-external-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '190'
      RateLimit-Reset:
      - '43'
      x-shipengine-requestid:
      - ac7503be-91fd-461a-a99c-b547dd16fcd6
    status:
      code: 404
      message: Not Found
version: 1
