interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.shipengine.com/v1/shipments/bad-shipment-id/cancel
  response:
    body:
      string: "{\r\n  \"request_id\": \"83010c8a-23b1-4487-a231-2ee6a22abaa0\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-shipment-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '194'
      RateLimit-Reset:
      - '55'
      x-shipengine-requestid:
      - 83010c8a-23b1-4487-a231-2ee6a22abaa0
    status:
      code: 400
      message: Bad Request
version: 1
