interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/carriers
  response:
    body:
      string: "{\r\n  \"carriers\": [\r\n    {\r\n      \"carrier_id\": \"se-64525\",\r\n
        \     \"carrier_code\": \"stamps_com\",\r\n      \"account_number\": \"test_account_64525\",\r\n
        \     \"requires_funded_amount\": true,\r\n      \"balance\": 11078.5600,\r\n
        \     \"nickname\": \"ShipEngine Test Account - Stamps.com\",\r\n      \"friendly_name\":
        \"Stamps.com\",\r\n      \"primary\": false,\r\n      \"has_multi_package_supporting_services\":
        false,\r\n      \"supports_label_messages\": true,\r\n      \"disabled_by_billing_plan\":
        false,\r\n      \"services\": [\r\n        {\r\n          \"carrier_id\":
        \"se-64525\",\r\n          \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_priority_mail\",\r\n          \"name\": \"USPS Priority Mail\",\r\n
        \         \"domestic\": true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-64525\",\r\n
        \         \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_priority_mail_express\",\r\n          \"name\": \"USPS Priority Mail
        Express\",\r\n          \"domestic\": true,\r\n          \"international\":
        false,\r\n          \"is_multi_package_supported\": false\r\n        },\r\n
        \       {\r\n          \"carrier_id\": \"se-64525\",\r\n          \"[...]
- request:
    body: '{"shipments": [{"carrier_id": "se-64525", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
      null, "validate_address": "no_validation", "advanced_options": null, "confirmation":
      "none", "tags": [], "is_return": false, "customs": null, "warehouse_id": null,
      "ship_from": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "return_to":
      null, "items": [], "external_order_id": null, "tax_identifiers": null, "external_shipment_id":
      null, "shipment_number": null, "insurance_provider": "none", "order_source_code":
      null, "packages": [{"weight": {"value": 1, "unit": "ounce"}, "package_code":
      null, "dimensions": null, "content_description": null, "package_id": null, "insurance_value":
      null, "label_messages": null, "products": null, "external_package_id": null}],
      "comparison_rate_type": null}, {"carrier_id": "se-64525", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
[...]
