interactions:
- request:
    body: '{"name": "Test Warehouse 123", "origin_address": {"name": "Electronic Output
      Solutions", "phone": "555-555-5555", "address_line1": "2510 Commerce Way", "city_locality":
      "Vista", "state_province": "CA", "postal_code": "92081", "address_line2": null,
      "address_line3": null, "email": null, "company_name": null, "instructions":
      null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "return_address": null, "is_default": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/warehouses
  response:
    body:
      string: "{\r\n  \"warehouse_id\": \"se-19010849\",\r\n  \"is_default\": false,\r\n
        \ \"name\": \"Test Warehouse 123\",\r\n  \"created_at\": \"2024-05-21T14:45:48.637Z\",\r\n
        \ \"origin_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  },\r\n
        \ \"return_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  }\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '138'
      RateLimit-Reset:
      - '12'
      x-shipengine-requestid:
      - 2c08b982-e809-429a-b08a-f674086df9a8
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"carrier_id": "se-2424643", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
      null, "validate_address": "no_validation", "advanced_options": null, "confirmation":
      "none", "tags": [], "is_return": false, "customs": null, "warehouse_id": "se-19010849",
      "ship_from": null, "return_to": null, "items": [], "external_order_id": null,
      "tax_identifiers": null, "external_shipment_id": null, "shipment_number": null,
      "insurance_provider": "none", "order_source_code": null, "packages": [{"weight":
      {"value": 1, "unit": "ounce"}, "package_code": null, "dimensions": null, "content_description":
      null, "package_id": null, "insured_value": null, "label_messages": null, "products":
      null, "external_package_id": null, "shipment_package_id": null, "package_name":
      null, "tracking_number": null, "qr_code_download": null, "paperless_download":
      null, "sequence": null, "alternative_identifiers": null, "has_label_documents":
      null, "has_form_documents": null, "has_qr_code_documents": null, "has_paperless_label_documents":
      null}], "comparison_rate_type": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/shipments
  response:
    body:
      string: "{\r\n  \"has_errors\": false,\r\n  \"shipments\": [\r\n    {\r\n      \"errors\":
        [],\r\n      \"address_validation\": null,\r\n      \"shipment_id\": \"se-1382684275\",\r\n
        \     \"carrier_id\": \"se-2424643\",\r\n      \"service_code\": \"usps_ground_advantage\",\r\n
        \     \"external_shipment_id\": null,\r\n      \"shipment_number\": null,\r\n
        \     \"ship_date\": \"2024-05-21T00:00:00Z\",\r\n      \"created_at\": \"2024-05-21T14:45:49.9708782Z\",\r\n
        \     \"modified_at\": \"2024-05-21T14:45:49.9552728Z\",\r\n      \"shipment_status\":
        \"pending\",\r\n      \"ship_to\": {\r\n        \"geolocation\": null,\r\n
        \       \"instructions\": \"\",\r\n        \"name\": \"Electronic Output Solutions\",\r\n
        \       \"phone\": \"555-555-5555\",\r\n        \"email\": null,\r\n        \"company_name\":
        null,\r\n        \"address_line1\": \"2510 Commerce Way\",\r\n        \"address_line2\":
        null,\r\n        \"address_line3\": null,\r\n        \"city_locality\": \"Vista\",\r\n
        \       \"state_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.shipengine.com/v1/warehouses/se-19010849
  response:
    body:
      string: ''
    headers:
      Branch-Name:
      - bWFpbg
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '136'
      RateLimit-Reset:
      - '10'
      x-shipengine-requestid:
      - 3e368b1f-057d-49af-8cb5-3cbd4648e5ae
    status:
      code: 204
      message: No Content
version: 1
