interactions:
- request:
    body: '{"shipments": [{"carrier_id": "se-64525", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "packages":
      [{"weight": {"value": 1, "unit": "ounce"}, "package_code": null, "dimensions":
      null, "content_description": null, "package_id": null, "insurance_value": null,
      "label_messages": null, "products": null, "external_package_id": null}], "ship_from":
      null, "external_order_id": null, "external_shipment_id": null, "shipment_number":
      null, "tax_identifiers": null, "ship_date": null, "warehouse_id": "se-18511",
      "is_return": null, "items": null, "customs": null, "order_source_code": null,
      "comparison_rate_type": null, "validate_address": "validate_only", "confirmation":
      "none", "insurance_provider": "none"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/shipments
  response:
    body:
      string: "{\r\n  \"has_errors\": false,\r\n  \"shipments\": [\r\n    {\r\n      \"errors\":
        [],\r\n      \"address_validation\": {\r\n        \"status\": \"verified\",\r\n
        \       \"original_address\": {\r\n          \"name\": \"Electronic Output
        Solutions\",\r\n          \"phone\": \"555-555-5555\",\r\n          \"email\":
        null,\r\n          \"company_name\": null,\r\n          \"address_line1\":
        \"2510 Commerce Way\",\r\n          \"address_line2\": null,\r\n          \"address_line3\":
        null,\r\n          \"city_locality\": \"Vista\",\r\n          \"state_province\":
        \"CA\",\r\n          \"postal_code\": \"92081\",\r\n          \"country_code\":
        \"US\",\r\n          \"address_residential_indicator\": \"unknown\"\r\n        },\r\n
        \       \"matched_address\": {\r\n          \"name\": \"ELECTRONIC OUTPUT
        SOLUTIONS\",\r\n          \"phone\": \"555-555-5555\",\r\n          \"email\":
        null,\r\n          \"company_name\": null,\r\n          \"address_line1\":
        \"2510 COMMERCE WAY\",\r\n          \"address_line2\": \"\",\r\n          \"address_line3\":
        null,\r\n          \"city_locality\": \"VISTA\",\r\n          \"state_province\":
        \"CA\",\r\n          \"postal_code\": \"92081-8447\",\r\n          \"country_code\":
        \"US\",\r\n          \"address_residential_indicator\": \"no\"\r\n        },\r\n
        \       \"messages\": []\r\n      },\r\n      \"shipment_id\": \"se-1530750\",\r\n
        \     \"carrier_id\": \"se-64525\",\r\n      \"service_code\": \"usps_ground_advantage\",\r\n
        \     \"external_shipment_id\": null,\r\n      \"shipment_number\": null,\r\n
        \     \"ship_date\": \"2024-05-13T00:00:00Z\",\r\n      \"created_at\": \"2024-05-12T23:51:12.2173468Z\",\r\n
        \     \"modified_at\": \"2024-05-12T23:51:12.2017037Z\",\r\n      \"shipment_status\":
        \"pending\",\r\n      \"ship_to\": {\r\n        \"geolocation\": null,\r\n
        \       \"instructions\": \"\",\r\n        \"name\": \"Electronic Output Solutions\",\r\n
        \       \"phone\": \"555-555-5555\",\r\n        \"email\": null,\r\n        \"company_name\":
        null,\r\n        \"address_line1\": \"2510 Commerce Way\",\r\n        \"address_line2\":
        null,\r\n        \"address_line3\": null,\r\n        \"city_locality\": \"Vista\",\r\n
        \       \"state_province\": \"CA\",\r\n        \"postal_code\": \"92081\",\r\n
        \       \"country_code\": \"US\",\r\n        \"address_residential_indicator\":
        \"unknown\"\r\n      },\r\n      \"ship_from\": {\r\n        \"instructions\":
        null,\r\n        \"name\": \"Terry Fyffe\",\r\n        \"phone\": \"909-278-1547\",\r\n
        \       \"email\": null,\r\n        \"company_name\": \"Electronic Output
        Solutions\",\r\n        \"address_line1\": \"2510 Commerce Way\",\r\n        \"address_line2\":
        null,\r\n        \"address_line3\": null,\r\n        \"city_locality\": \"Vista\",\r\n
        \       \"state_province\": \"CA\",\r\n        \"postal_code\": \"92081\",\r\n
        \       \"country_code\": \"US\",\r\n        \"address_residential_indicator\":
        \"no\"\r\n      },\r\n      \"warehouse_id\": \"se-18511\",\r\n      \"return_to\":
        {\r\n        \"instructions\": null,\r\n        \"name\": \"Terry Fyffe\",\r\n
        \       \"phone\": \"909-278-1547\",\r\n        \"email\": null,\r\n        \"company_name\":
        \"Electronic Output Solutions\",\r\n        \"address_line1\": \"2510 Commerce
        Way\",\r\n        \"address_line2\": null,\r\n        \"address_line3\": null,\r\n
        \       \"city_locality\": \"Vista\",\r\n        \"state_province\": \"CA\",\r\n
        \       \"postal_code\": \"92081\",\r\n        \"country_code\": \"US\",\r\n
        \       \"address_residential_indicator\": \"no\"\r\n      },\r\n      \"is_return\":
        false,\r\n      \"confirmation\": \"none\",\r\n      \"customs\": null,\r\n
        \     \"external_order_id\": null,\r\n      \"order_source_code\": null,\r\n
        \     \"advanced_options\": {\r\n        \"bill_to_account\": null,\r\n        \"bill_to_country_code\":
        null,\r\n        \"bill_to_party\": null,\r\n        \"bill_to_postal_code\":
        null,\r\n        \"contains_alcohol\": false,\r\n        \"delivered_duty_paid\":
        false,\r\n        \"non_machinable\": false,\r\n        \"saturday_delivery\":
        false,\r\n        \"dry_ice\": false,\r\n        \"dry_ice_weight\": null,\r\n
        \       \"fedex_freight\": null,\r\n        \"third_party_consignee\": false,\r\n
        \       \"ancillary_endorsements_option\": null,\r\n        \"freight_class\":
        null,\r\n        \"custom_field1\": null,\r\n        \"custom_field2\": null,\r\n
        \       \"custom_field3\": null,\r\n        \"collect_on_delivery\": null,\r\n
        \       \"return_pickup_attempts\": null,\r\n        \"additional_handling\":
        false,\r\n        \"own_document_upload\": false,\r\n        \"limited_quantity\":
        false,\r\n        \"event_notification\": false\r\n      },\r\n      \"comparison_rate_type\":
        null,\r\n      \"shipping_rule_id\": null,\r\n      \"insurance_provider\":
        \"none\",\r\n      \"tags\": [],\r\n      \"packages\": [\r\n        {\r\n
        \         \"shipment_package_id\": \"se-296597\",\r\n          \"package_id\":
        \"se-3\",\r\n          \"package_code\": \"package\",\r\n          \"package_name\":
        \"Package\",\r\n          \"weight\": {\r\n            \"value\": 1.0,\r\n
        \           \"unit\": \"ounce\"\r\n          },\r\n          \"dimensions\":
        {\r\n            \"unit\": \"inch\",\r\n            \"length\": 0.0,\r\n            \"width\":
        0.0,\r\n            \"height\": 0.0\r\n          },\r\n          \"insured_value\":
        {\r\n            \"currency\": \"usd\",\r\n            \"amount\": 0.0\r\n
        \         },\r\n          \"label_messages\": {\r\n            \"reference1\":
        null,\r\n            \"reference2\": null,\r\n            \"reference3\":
        null\r\n          },\r\n          \"external_package_id\": null,\r\n          \"content_description\":
        null,\r\n          \"products\": null\r\n        }\r\n      ],\r\n      \"total_weight\":
        {\r\n        \"value\": 1.0,\r\n        \"unit\": \"ounce\"\r\n      },\r\n
        \     \"items\": []\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '184'
      RateLimit-Reset:
      - '48'
      x-shipengine-requestid:
      - 52871663-0512-410d-a1c0-1369ea91b5d3
    status:
      code: 200
      message: OK
- request:
    body: '{"shipment_ids": ["se-1530750"], "rate_ids": null, "external_batch_id":
      null, "batch_notes": null, "process_labels": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/batches
  response:
    body:
      string: "{\r\n  \"label_layout\": null,\r\n  \"label_format\": \"pdf\",\r\n
        \ \"batch_id\": \"se-1039068\",\r\n  \"external_batch_id\": null,\r\n  \"batch_number\":
        \"100202\",\r\n  \"batch_notes\": null,\r\n  \"created_at\": \"2024-05-12T23:51:12.577Z\",\r\n
        \ \"processed_at\": null,\r\n  \"errors\": 0,\r\n  \"process_errors\": null,\r\n
        \ \"warnings\": 0,\r\n  \"completed\": 0,\r\n  \"forms\": 0,\r\n  \"count\":
        1,\r\n  \"batch_shipments_url\": {\r\n    \"href\": \"https://api.shipengine.com/v1/shipments?batch_id=se-1039068\"\r\n
        \ },\r\n  \"batch_labels_url\": {\r\n    \"href\": \"https://api.shipengine.com/v1/labels?batch_id=se-1039068\"\r\n
        \ },\r\n  \"batch_errors_url\": {\r\n    \"href\": \"https://api.shipengine.com/v1/batches/se-1039068/errors\"\r\n
        \ },\r\n  \"label_download\": {\r\n    \"pdf\": \"https://api.shipengine.com/v1/downloads/14/YOm474P5lUiR8H7GOUnESQ/label-1039068.pdf\",\r\n
        \   \"zpl\": \"https://api.shipengine.com/v1/downloads/14/YOm474P5lUiR8H7GOUnESQ/label-1039068.zpl\",\r\n
        \   \"href\": \"https://api.shipengine.com/v1/downloads/14/YOm474P5lUiR8H7GOUnESQ/label-1039068.pdf\"\r\n
        \ },\r\n  \"form_download\": {\r\n    \"href\": \"https://api.shipengine.com/v1/downloads/14/fytrIBPJyES_IvGE1XtZJQ/form-1039068.pdf\"\r\n
        \ },\r\n  \"status\": \"open\"\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '183'
      RateLimit-Reset:
      - '48'
      x-shipengine-requestid:
      - 12489864-f2f0-48fc-8006-1b1bbdd84b37
    status:
      code: 200
      message: OK
- request:
    body: '{"create_batch_and_process_labels": true, "ship_date": null, "label_layout":
      "4x6", "label_format": "pdf", "display_scheme": "label"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/batches/se-1039068/process/labels
  response:
    body:
      string: ''
    headers:
      Branch-Name:
      - bWFpbg
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '182'
      RateLimit-Reset:
      - '48'
      x-shipengine-requestid:
      - 80709239-8065-4809-aecb-c91cc04e5f33
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/batches/se-1039068
  response:
    body:
      string: "{\r\n  \"label_layout\": \"4x6\",\r\n  \"label_format\": \"pdf\",\r\n
        \ \"batch_id\": \"se-1039068\",\r\n  \"external_batch_id\": null,\r\n  \"batch_number\":
        \"100202\",\r\n  \"batch_notes\": null,\r\n  \"created_at\": \"2024-05-12T23:51:12.577Z\",\r\n
        \ \"processed_at\": \"2024-[...]
