interactions:
- request:
    body: '{"shipment_ids": ["bad-shipment-id"], "rate_ids": null, "external_batch_id":
      null, "batch_notes": null, "process_labels": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/batches
  response:
    body:
      string: "{\r\n  \"request_id\": \"02a2bc15-ca8e-4a36-b492-59655857c72c\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"shipment_ids must be only integers\",\r\n      \"field_name\": \"shipment_ids\",\r\n
        \     \"field_value\": [\r\n        \"bad-shipment-id\"\r\n      ]\r\n    }\r\n
        \ ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '171'
      RateLimit-Reset:
      - '36'
      x-shipengine-requestid:
      - 02a2bc15-ca8e-4a36-b492-59655857c72c
    status:
      code: 400
      message: Bad Request
version: 1
