interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.shipengine.com/v1/batches/bad-batch-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"e2ff11b4-8a86-4058-8e13-5f7b2d1984c4\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-batch-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '164'
      RateLimit-Reset:
      - '34'
      x-shipengine-requestid:
      - e2ff11b4-8a86-4058-8e13-5f7b2d1984c4
    status:
      code: 400
      message: Bad Request
version: 1
