interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/batches/bad-batch-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"46cd38b7-af79-4584-af4a-f8f047193655\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-batch-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '194'
      RateLimit-Reset:
      - '56'
      x-shipengine-requestid:
      - 46cd38b7-af79-4584-af4a-f8f047193655
    status:
      code: 400
      message: Bad Request
version: 1
