interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/warehouses/bad-warehouse-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"5d2e7d47-7468-4048-a165-66ada02e4941\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-warehouse-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '197'
      RateLimit-Reset:
      - '46'
      x-shipengine-requestid:
      - 5d2e7d47-7468-4048-a165-66ada02e4941
    status:
      code: 400
      message: Bad Request
version: 1
