interactions:
- request:
    body: '{"name": "Test Warehouse 123", "origin_address": {"name": "Electronic Output
      Solutions", "phone": "555-555-5555", "address_line1": "", "city_locality": "Vista",
      "state_province": "CA", "postal_code": "92081", "address_line2": null, "address_line3":
      null, "email": null, "company_name": null, "instructions": null, "geolocation":
      null, "country_code": "US", "address_residential_indicator": "unknown"}, "return_address":
      null, "is_default": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/warehouses
  response:
    body:
      string: "{\r\n  \"request_id\": \"cbae1172-b6d9-44af-9f8e-66fcae786685\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"validation\",\r\n      \"error_code\": \"field_value_required\",\r\n      \"message\":
        \"'address_line1' should not be empty.\",\r\n      \"field_name\": \"address_line1\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '199'
      RateLimit-Reset:
      - '54'
      x-shipengine-requestid:
      - cbae1172-b6d9-44af-9f8e-66fcae786685
    status:
      code: 400
      message: Bad Request
version: 1
