interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/tracking?carrier_code=bad-carrier-code&tracking_number=
  response:
    body:
      string: "{\r\n  \"request_id\": \"095fadf9-9e3e-43ef-acc5-cb568eb7602d\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"system\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"trackingNumber.String: A value is required but was not present in the request.\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '199'
      RateLimit-Reset:
      - '60'
      x-shipengine-requestid:
      - 095fadf9-9e3e-43ef-acc5-cb568eb7602d
    status:
      code: 400
      message: Bad Request
version: 1
