interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/carriers
  response:
    body:
      string: "{\r\n  \"carriers\": [\r\n    {\r\n      \"carrier_id\": \"se-64525\",\r\n
        \     \"carrier_code\": \"stamps_com\",\r\n      \"account_number\": \"test_account_64525\",\r\n
        \     \"requires_funded_amount\": true,\r\n      \"balance\": 5806.9400,\r\n
        \     \"nickname\": \"ShipEngine Test Account - Stamps.com\",\r\n      \"friendly_name\":
        \"Stamps.com\",\r\n      \"primary\": false,\r\n      \"has_multi_package_supporting_services\":
        false,\r\n      \"supports_label_messages\": true,\r\n      \"disabled_by_billing_plan\":
        false,\r\n      \"services\": [\r\n        {\r\n          \"carrier_id\":
        \"se-64525\",\r\n          \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_priority_mail\",\r\n          \"name\": \"USPS Priority Mail\",\r\n
        \         \"domestic\": true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-64525\",\r\n
        \         \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_priority_mail_express\",\r\n          \"name\": \"USPS Priority Mail
        Express\",\r\n          \"domestic\": true,\r\n          \"international\":
        false,\r\n          \"is_multi_package_supported\": false\r\n        },\r\n
        \       {\r\n          \"carrier_id\": \"se-64525\",\r\n          \"[...]
