interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/carriers/bad-carrier-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"d48b2178-5e97-415f-8c70-8a6a7a130f2e\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-carrier-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '163'
      RateLimit-Reset:
      - '48'
      x-shipengine-requestid:
      - d48b2178-5e97-415f-8c70-8a6a7a130f2e
    status:
      code: 400
      message: Bad Request
version: 1
