interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/labels/bad-label-id
  response:
    body:
      string: "{\r\n  \"request_id\": \"79e8dd8b-e9fe-42b8-a4b2-76417aad5f10\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"id parameter is in the wrong format\",\r\n      \"field_name\": null,\r\n
        \     \"field_value\": \"bad-label-id\"\r\n    }\r\n  ]\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '195'
      RateLimit-Reset:
      - '32'
      x-shipengine-requestid:
      - 79e8dd8b-e9fe-42b8-a4b2-76417aad5f10
    status:
      code: 400
      message: Bad Request
version: 1
