interactions:
- request:
    body: '{"name": "Test Warehouse 123", "origin_address": {"name": "Electronic Output
      Solutions", "phone": "555-555-5555", "address_line1": "2510 Commerce Way", "city_locality":
      "Vista", "state_province": "CA", "postal_code": "92081", "address_line2": null,
      "address_line3": null, "email": null, "company_name": null, "instructions":
      null, "geolocation": null, "country_code": "US", "address_residential_indicator":
      "unknown"}, "return_address": null, "is_default": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/warehouses
  response:
    body:
      string: "{\r\n  \"warehouse_id\": \"se-19011297\",\r\n  \"is_default\": false,\r\n
        \ \"name\": \"Test Warehouse 123\",\r\n  \"created_at\": \"2024-05-21T15:02:24.173Z\",\r\n
        \ \"origin_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  },\r\n
        \ \"return_address\": {\r\n    \"name\": \"Electronic Output Solutions\",\r\n
        \   \"phone\": \"555-555-5555\",\r\n    \"email\": null,\r\n    \"company_name\":
        null,\r\n    \"address_line1\": \"2510 Commerce Way\",\r\n    \"address_line2\":
        null,\r\n    \"address_line3\": null,\r\n    \"city_locality\": \"Vista\",\r\n
        \   \"state_province\": \"CA\",\r\n    \"postal_code\": \"92081\",\r\n    \"country_code\":
        \"US\",\r\n    \"address_residential_indicator\": \"unknown\"\r\n  }\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '199'
      RateLimit-Reset:
      - '36'
      x-shipengine-requestid:
      - 48bc7a34-84b2-4666-8dd5-2a5fd7c15431
    status:
      code: 200
      message: OK
- request:
    body: '{"shipment": {"carrier_id": "se-2424643", "service_code": "usps_ground_advantage",
      "ship_to": {"name": "Electronic Output Solutions", "phone": "555-555-5555",
      "address_line1": "2510 Commerce Way", "city_locality": "Vista", "state_province":
      "CA", "postal_code": "92081", "address_line2": null, "address_line3": null,
      "email": null, "company_name": null, "instructions": null, "geolocation": null,
      "country_code": "US", "address_residential_indicator": "unknown"}, "ship_date":
      null, "validate_address": "no_validation", "advanced_options": null, "confirmation":
      "none", "tags": [], "is_return": false, "customs": null, "warehouse_id": "se-19011297",
      "ship_from": null, "return_to": null, "items": [], "external_order_id": null,
      "tax_identifiers": null, "external_shipment_id": null, "shipment_number": null,
      "insurance_provider": "none", "order_source_code": null, "packages": [{"weight":
      {"value": 1, "unit": "ounce"}, "package_code": null, "dimensions": null, "content_description":
      null, "package_id": null, "insured_value": null, "label_messages": null, "products":
      null, "external_package_id": null, "shipment_package_id": null, "package_name":
      null, "tracking_number": null, "qr_code_download": null, "paperless_download":
      null, "sequence": null, "alternative_identifiers": null, "has_label_documents":
      null, "has_form_documents": null, "has_qr_code_documents": null, "has_paperless_label_documents":
      null}], "comparison_rate_type": null}, "label_image_id": null, "label_layout":
      "4x6", "display_scheme": "label", "label_format": "pdf", "label_download_type":
      "url", "validate_address": "no_validation", "outbound_label_id": null, "charge_event":
      "carrier_default", "is_return_label": null, "rma_number": null, "ship_to_service_point_id":
      null, "ship_form_service_point_id": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shipengine.com/v1/labels
  response:
    body:
      string: "{\r\n  \"label_id\": \"se-453841868\",\r\n  \"status\": \"completed\",\r\n
        \ \"shipment_id\": \"se-1382717005\",\r\n  \"ship_date\": \"2024-05-21T07:00:00Z\",\r\n
        \ \"created_at\": \"2024-05-21T15:02:24.7253339Z\",\r\n  \"shipment_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 3.7900\r\n  },\r\n  \"insurance_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"requested_comparison_amount\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"rate_details\":
        [],\r\n  \"tracking_number\": \"9400111899563821705595\",\r\n  \"is_return_label\":
        false,\r\n  \"rma_number\": null,\r\n  \"is_international\": false,\r\n  \"batch_id\":
        \"\",\r\n  \"carrier_id\": \"se-2424643\",\r\n  \"service_code\": \"usps_ground_advantage\",\r\n
        \ \"package_code\": \"package\",\r\n  \"voided\": false,\r\n  \"voided_at\":
        null,\r\n  \"label_format\": \"pdf\",\r\n  \"display_scheme\": \"label\",\r\n
        \ \"label_layout\": \"4x6\",\r\n  \"trackable\": true,\r\n  \"label_image_id\":
        null,\r\n  \"carrier_code\": \"stamps_com\",\r\n  \"tracking_status\": \"in_transit\",\r\n
        \ \"label_download\": {\r\n    \"pdf\": \"https://api.shipengine.com/v1/downloads/10/TN8xyjqHL0mg-W71cqqYHA/label-453841868.pdf\",\r\n
        \   \"png\": \"https://api.shipengine.com/v1/downloads/10/TN8xyjqHL0mg-W71cqqYHA/label-453841868.png\",\r\n
        \   \"zpl\": \"https://api.shipengine.com/v1/downloads/10/TN8xyjqHL0mg-W71cqqYHA/label-453841868.zpl\",\r\n
        \   \"href\": \"https://api.shipengine.com/v1/downloads/10/TN8xyjqHL0mg-W71cqqYHA/label-453841868.pdf\"\r\n
        \ },\r\n  \"form_download\": null,\r\n  \"qr_code_download\": null,\r\n  \"insurance_claim\":
        null,\r\n  \"paperless_download\": null,\r\n  \"packages\": [\r\n    {\r\n
        \     \"package_id\": 475549108,\r\n      \"package_code\": \"package\",\r\n
        \     \"weight\": {\r\n        \"value\": 1.00,\r\n        \"unit\": \"ounce\"\r\n
        \     },\r\n      \"dimensions\": {\r\n        \"unit\": \"inch\",\r\n        \"length\":
        0.0,\r\n        \"width\": 0.0,\r\n        \"height\": 0.0\r\n      },\r\n
        \     \"insured_value\": {\r\n        \"currency\": \"usd\",\r\n        \"amount\":
        0.00\r\n      },\r\n      \"tracking_number\": \"9400111899563821705595\",\r\n
        \     \"qr_code_download\": null,\r\n      \"paperless_download\": null,\r\n
        \     \"label_messages\": {\r\n        \"reference1\": null,\r\n        \"reference2\":
        null,\r\n        \"reference3\": null\r\n      },\r\n      \"external_package_id\":
        null,\r\n      \"content_description\": null,\r\n      \"sequence\": 1,\r\n
        \     \"alternative_identifiers\": [],\r\n      \"has_label_documents\": false,\r\n
        \     \"has_form_documents\": false,\r\n      \"has_qr_code_documents\": false,\r\n
        \     \"has_paperless_label_documents\": false\r\n    }\r\n  ],\r\n  \"charge_event\":
        \"carrier_default\",\r\n  \"alternative_identifiers\": [],\r\n  \"shipping_rule_id\":
        null\r\n}"
    headers:
      Branch-Name:
      - bWFpbg
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '198'
      RateLimit-Reset:
      - '36'
      x-shipengine-requestid:
      - 9cc57f4f-5665-4ee2-8173-617f53eb2dc4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.shipengine.com/v1/labels/se-453841868
  response:
    body:
      string: "{\r\n  \"label_id\": \"se-453841868\",\r\n  \"status\": \"completed\",\r\n
        \ \"shipment_id\": \"se-1382717005\",\r\n  \"ship_date\": \"2024-05-21T07:00:00Z\",\r\n
        \ \"created_at\": \"2024-05-21T15:02:24.727Z\",\r\n  \"shipment_cost\": {\r\n
        \   \"currency\": \"usd\",\r\n    \"amo[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.shipengine.com/v1/warehouses/se-19011297
  response:
    body:
      string: ''
    headers:
      Branch-Name:
      - bWFpbg
      RateLimit-Limit:
      - '200'
      RateLimit-Remaining:
      - '196'
      RateLimit-Reset:
      - '33'
      x-shipengine-requestid:
      - 82898048-f85c-4999-8802-91e605bbcf71
    status:
      code: 204
      message: No Content
version: 1
